@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

/* navbar styles */
.navbar {
    max-width: 1170px;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
}

.navbar a {
    color: black;
    text-align: center;
    
    text-decoration: none;
}

.nav-items {
    display: flex;
    gap: 44px;
    justify-content: space-between;
    align-items: center;
}

.nav-items  a{
    color: #424247;
    font-size: 18px;
    font-weight: 400;
}

.logo{
    color: #131318;
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.primary-color {
    color: #FF5400;
}

/* banner styles */
.banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),url("Images/Group 13 (1) (1).png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 1170px;
    height: 500px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
}

.banner-container > h3{
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding-top: 106px;
}

.banner-container > p {
    padding-top: 24px;
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 48px;
}

.banner-inputs {
    display: inline-flex;
    padding: 16px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    gap: 24px;
}

.banner-inputs > input, select, button {
    width: 174px;
    height: 52px;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}

.banner-inputs > button {
    background-color: #FF5400;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

/* Our Popular Tours style */
.popular-tours-container{
    width: 1170px;
    padding: 100px 0;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

button {
    background-color: #FF5400;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

.tours-heading{
    color: #131318;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
    
}

.tours-text{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
}

/* choose your destination styles */
.destination-container{
    width: 1170px;
    padding-bottom: 100px ;
    margin: 0 auto;
}

.destination-container > h2 {
    color: #131318;
    text-align: center;
    font-family: Mulish;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 24px;
}

.destination-container > p {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 30px;
}
.row{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.img-container{
    position: relative;
}
.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.7);
    /* semi-transparent white background */
    padding: 10px;
    text-align: center;
}


@media screen and (max-width: 600px) {
   
}